In [4]:
#sum of natural no.
n=int(input("enter a no"))
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

enter a no 10

55

In [12]:
#pattern with for loop RAT
n=int(input("enter a no."))
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)

enter a no. 5

    *
   **
  ***
 ****
*****

In [14]:
#pattern with for loop Tringle
n=int(input("enter a no."))
for i in range(1,n+1):
    print(' '*(n-i)+'* '*i)

enter a no. 5

    *
   * *
  * * *
 * * * *
* * * * *

In [18]:
#lower case or piramid
n=int(input("enter a no."))
for i in range(n):
    print('*'*(n-i)+' '*i)

enter a no. 5

*****
****
***
**
*

In [20]:

n=int(input("enter a no."))
for i in range(n):
    print(' '*i+'*'*(n-i))

enter a no. 5

*****
 ****
  ***
   **
    *

In [24]:
n=int(input("enter a no."))
for i in range(n):
    print(' '*i+'* '*(n-i))

enter a no. 5

* * * * *
 * * * *
  * * *
   * *
    *

In [32]:
#half left dia.
n=int(input("enter a no."))
for i in range(1,n+1):
    print('*'*i+' '*(n+1))
for i in range(n-1,0,-1):
    print('*'*i+' '*(n-1))

enter a no. 5

*
**
***
****
*****
****
***
**
*

In [40]:
#half right dimond
n=int(input("enter a no."))
for i in range(1,n+1):
    print(' '*(n-i)+'*'*i)
for i in range(n-1,0,-1):
    print(' '*(n-i)+'*'*i)

enter a no. 5

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

In [42]:
#dimond
n=int(input("enter a no."))
for i in range(1,n+1):
    print(' '*(n-i)+'* '*i)
for i in range(n-1,0,-1):
    print(' '*(n-i)+'* '*i)

enter a no. 5

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [76]:
#B shape 
n=int(input('enter a no'))
for i in range(n):
     print('*'*(n-i)+' '*i)
for i in range(n+1,6):
    print('*'*i+' '*(n-i))

enter a no 5

*****
****
***
**
*

In [ ]:
n=int(input("enter a no."))
for i in range(1,n+1):
    print('*'*i+' '*(n-i))

: