In [3]:
x=10
y=10
z=x+y
print(z)

20

In [9]:
x=10.2
y=2
z1=x/y
print(z1)

5.1

In [15]:
x=10
y=20+2j
z=x/y
print(type(z))

<class 'complex'>

In [19]:
x=50
y=6
z=x//y
print(z)

8

In [23]:
#string (+)cases ;
s1='rishabh'
s2='kumar'
s3='bhairvey'
s=(s1+' '+s2+' '+s3)
print(s)

rishabh kumar bhairvey

In [27]:
#string multiply(*) case---- it is compelsury to take 1 int value with string to multyply 
s1='rishu'
s2=2
print(s1*s2)

rishurishu

In [31]:
#use of in case / to check the no. is present in string oor not
s='rishu'
print('a' in s)

False

In [33]:
s='rishabh'
print('a' in s)

True

In [35]:
s1='rishu'
s2='bhairvey'
print(id(s1))
print(id(s2))

2109648457808
2109648482864